/* Topic */
h1 {
  font-size: 3.4rem;
  font-family: "Jersey 20", serif;
  font-weight: 500;
}

h2{
  font-family: "Jersey 20", serif;
  font-weight: 500;
  font-size: 1.9rem;
}

h3{
  font-family: "Jersey 20", serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.project-category h3 {
  background-color: #f4dc72;
  width: fit-content;
  padding-right: 7px;
  padding-left: 3px;
}

.more-project h3 {
  background-color: #ffffff;
  width: fit-content;
  padding-right: 7px;
  padding-left: 3px;
}

.progress-bar h3 {
  background-color: #f4dc72;
  width: fit-content;
  padding-right: 7px;
  padding-left: 3px;
}

.projects-grid .category h3{
  width: fit-content;
  padding-right: 7px;
  padding-left: 5px;
}

.projects-grid .category:nth-child(1) h3{
  background-color: #D8D8D8;

}

.projects-grid .category:nth-child(2) h3{
  background-color: #FFEEA8;
}

.projects-grid .category:nth-child(3) h3{
  background-color: #F4DC72;

}

.projects-grid .category:nth-child(4) h3{
  background-color: #9DCAE2;
}

.projects-grid .category:nth-child(5) h3{
  background-color: #7BA2EA;

}

.projects-grid .category:nth-child(6) h3{
  background-color: #A0DFA8;
}

.projects-grid .category:nth-child(7) h3{
  background-color: #CBB1F8;
}

.projects-grid .category:nth-child(8) h3{
  background-color: #E29696;
}



/* Progress lavel topic */
h5 {
  font-family: "Inria Sans", serif;
  font-size: 1rem;
}


/* Paragraph */

.main-para {
  font-family: "Inria Sans", serif;
  font-size: 1.3rem;
}

.para-2 {
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 25px;
  font-family: "Inria Sans", serif;
}

.para-3{
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  font-family: "Inria Sans", serif;
}


/* Progress lavel descriptions */
.para-4 {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: "Inria Sans", serif;
  margin-top: 1.8px;
}



/* Responsive Font */

@media only screen and (max-width: 1536px) {
}

@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 3.2rem;
  }

  .para-4 {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 3.1rem;
  }

  .main-para {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .para-2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2.7rem;
  }

  .para-4 {
    font-size: 0.8rem;
  }


}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }

  .main-para {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 375px) {
}
